#footer {
  height: 50px;
  background: #ffe082;
}

#searcher {
  height: 100px;
  background: #78c2ad;
}

#clear-button {
  border: 1px;
  border-radius: 30px;
  cursor: pointer;
  background: #ffb300;
}
#clear-button:hover {
  background: #ffe082;
}

#filter-title {
  font-size: 24px;
}

#layout {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#sidebar {
  background: #ffecb3;
}

.cards {
  border: 1px solid;
  cursor: pointer;
}

.mini-card {
  border: 1px solid;
}

.icon {
  cursor: pointer;
}

.radio {
  cursor: pointer;
}
